ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.note-card {
  min-width: 10rem;
  width: 100%;
  display: grid;
  grid-template-areas:
    " title title delete "
    " ul ul ul "
    " complete . ."
    " done done done"
    " . . edit";
  border: solid grey 2px;
  border-radius: 5px;
  padding: .5rem;
  background: rgba(255, 255, 255, 0.491);
}

.list-title {
  grid-area: title;
  text-transform: uppercase;
  margin: 5px;
}

.delete-card-btn {
  grid-area: delete;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.incomplete-ul {
  grid-area: ul;
}

.complete-ul {
  grid-area: done;
}

.list-text {
  padding: 0 .5rem;
}

.checked-icon {
  max-height: 1rem;
  max-width: 1rem;
}

.complete-heading {
  grid-area: complete;
  margin: 0;
}

.completed-li-text {
  display: inline;
  color: $completed-text;
  text-decoration: line-through;
}

.delete-li-btn,
.remove-icon,
.checkbox-hover,
.note-complete-btn {
  border-radius: 100px;
}

.edit-wrapper {
  grid-area: edit;
}

.edit-note-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.checkbox-hover {
  filter: opacity(0%);
  height: 1rem;
  width: 1rem;

  &:hover {
    filter: opacity(40%);
  }

  &:active {
    outline: red;
  }
}

.delete-li-btn {
  height: .7rem;
  width: .7rem;
  background: transparent;
  border: none;

  &:hover {
    background: rgb(255, 245, 245);
  }
}

.note-complete-btn {
  height: 1.1rem;
  width: 1.1rem;
  border: 1px solid grey;

  &:hover {
    border: 1px solid rgb(25, 159, 134);
  }
}

.remove-icon {
  border: none;
  height: .8rem;
  width: .8rem;

  &:hover {
    filter: invert(0.4) sepia(1) saturate(4) hue-rotate(306deg) brightness(0.68);
  }
}