button {
  padding: 0;
  cursor: pointer;
}

.form {
  width: 60%;
  min-height: 60vh;
  background: $note-background;
  border: $border;
  border-radius: 10px;
  margin: 3rem auto;
  padding: 2rem;
}

.list-item-input,
.title-input {
  width: 60%;
  border: none;
  margin: 1rem 0;
  font-family: inherit;
  outline: 1px grey;
}

.title-input {
  font-size: 1.5rem;
}

.delete-list-btn {
  float: right;
}

.form-complete-btn {
  border: none;
  padding: .5rem;
}

.round-btn {
  font-size: .5rem;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50px;
  margin: 0;
}

.add-btn {
  border: none;
  font-size: 2rem;
  color: rgb(218, 212, 212);
}

.save-btn {
  margin: 0 2rem;
}