.form {
  width: 60%;
  min-height: 60vh;
  background: $note-background;
  border: $border;
  border-radius: 10px;
  margin: 3rem auto;
  padding: 2rem;
}

.list-item-input,
.title-input {
  width: 60%;
  border: none;
  margin: 1rem 0;
  font-family: inherit;
  outline: 1px grey;
}

.title-input {
  font-size: 1.5rem;
}

.delete-list-btn {
  float: right;
}