$border: 2px solid lightgrey;

$note-background: white;

$completed-text: #999797;

$lighten-icon: opacity(40%);

$delete-hover: invert(0.4) sepia(1) saturate(4) hue-rotate(306deg) brightness(0.68);

$outline: 2px dotted rgb(139, 0, 76);